body{
    font-family: 'Inter', sans-serif;
}
.navbar>.container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    display: none;
}
.header-top{
    margin: 0 auto;
    background-color: #000000;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.bg-dark{
    display: flex;
    justify-content: center;
}
.nav{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}
.first{
    display: flex;
    align-items: baseline;
    margin-right: 74px;
}
 .first>.fa{
    width: 8px;
    height: 11px;
    color: yellow;
    margin-left: 63px;
}
.first>p{
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 4px;
}
.second{
    display: flex;
    align-items: baseline;
}
.second>ul>li{
    display: inline;
    padding-right: 30px;
}
.second>ul>li:last-of-type{
    padding-right: 0;
}
.second>ul{
    margin: 4px 0px 10px 0px;
    padding: 0;
}
.second ul>li>a{
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    text-decoration: none;
}
.web-shop{
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    margin: 0 auto;
}
.web-shop p{
     margin-top: 0px;
     margin-bottom: 0px;
}
.third>a{
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 50px;
}
.header-middle{
    display: flex;
    align-items: center;
}
.logo{
    margin: 0 auto;
}
.user-functions{
    margin-right: 50px;
}
.user-functions img{
    padding-left: 25px;
}
.header-lower{
    display: flex;
    justify-content: space-evenly;
    margin-top: 18px;
    margin-bottom: 13px;
}
.header-lower a{
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #111111;
    text-decoration: none;
}
.img-cont{
    background: #F1F1F1;
    border-radius: 5px;
    
}
.marks{
    display: flex;
   padding-top: 10px;
}
.novelty{
    width: 71px;
    height: 23px;
}
.novelty p{
    margin-bottom: 0px;
}
.promotion{
    height: 23px;
    width: 57px;
    margin-right: 5px;
}
.novelty,.hit,.promotion{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hit{
    width: 40px;
    height: 23px;
}
.novelty{
    margin-left: 15px;
    margin-right: 5px;
}
.marks p{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.tile-wrap{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.tile1,.tile2,.tile3{
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-right: 12px;
}
.product-name>p:first-of-type{
    font-size: 14px;
    line-height: 32px;
    color: #989898;
    font-weight: 400;
}
.product-name h4{
    font-size: 27px;
    line-height: 120%;
    font-weight: 500;
}
#composition{
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}
.product-name>p:last-of-type{
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
}
.size-btns h5{
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 11px;
    font-weight: 600;
}
.btn-wrap{
    border-bottom: 1px solid #afa0a0;
    padding-bottom: 41px;
}
.btn-info{
    border-radius: 20px 20px 20px 0px;
    border: 1px solid #DFDFDF;
    background-color: #FFFFFF;
    width: 140px;
    text-align: left;
    min-width: 100px;
}
.btn-info>p:first-of-type{
    font-weight: 300;
    font-size: 23px;
    line-height: 28px;
    color: #000000;
    margin-top: 10px;
}
.btn-info>p:last-of-type{
    font-size: 11px;
    line-height: 120%;
    color: #9A9A9A;
    font-weight: 600;
}
.number{
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid gray;
    float: right;
    text-align: center;
}
.btn-primary{
    margin-top: 34px;
    font-weight: 600;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background-color: #000000;
    border:none
}
.btn-primary:hover{
    transform: scale(0.9);
    transition: all .4s ease-in-out;
    background-color: #d29754;
}
.info{
    display: flex;
    margin-top: 54px;
    margin-bottom: 14px;
    border-bottom: 1px solid #DCDCDC;
}
.info p{
    margin-bottom: 0;
}
.info div{
    margin-right: 19px;
}
.info-description{
    border-bottom: 3px solid black;
}
.info-description p{
    font-size: 15px;
    line-height: 32px;
    font-weight: 600;
}
.characteristics,.recomendations{
    font-size: 15px;
    line-height: 32px;
    color: #999999;
    font-weight: 600;
}
.info-text strong{
    margin-bottom: 4px;
}
.card-wrap{
    display: flex;
}
.card-wrap>p:last-of-type{
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
}
.card{
    margin: 10px;
    background-color: #f1f1f1;
}
.img-cont{
    background: #F1F1F1;
    border-radius: 5px;
    
}
.marks{
    display: flex;
   padding-top: 10px;
}
.novelty{
    width: 71px;
    height: 23px;
}
.novelty p{
    margin-bottom: 0px;
}
.novelty,.hit{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hit{
    width: 40px;
    height: 23px;
}
.novelty{
    background-color: #000000;
    margin-left: 15px;
    margin-right: 5px;
}
.novelty,.hit p{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.text-cont{
    margin-top: 14px;
}
.text-cont a{
    text-decoration: none;
}
.text-cont>a>h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.price{
    display: flex;
    align-items: center;
}
.price>p:first-of-type{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-right: 4px;
}
.price>p:last-of-type{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: line-through;
    color: #A09E9E;
}
.footer{
    background-color: #000000;
    margin-top: 85px;
}
.footer a{
    text-decoration: none;
    color: #FFFFFF;
}
.top-foot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
}
.left-navigation>ul{
    display: flex;
    list-style-type: none;
}
.left-navigation ul li{
    padding-left: 30px;
}
.middle-text p{
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}
.right-navigation a{
    padding: 40px;
}
.bottom-foot{
    padding: 60px 62px 32px 62px;
    display: flex;
    justify-content: space-between;
}
.bottom-foot p{
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}
.social>a{
    padding: 0px 30px 0px 30px;
}
#adres,#mail-ru,#copyright,#join-us{
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    display: none;  
}
.news-btn{
    max-width: 335px;
    background-color: #fff;
    display: none;
}
.news-btn>p{
    font-weight: 500;
    font-size: 15px;
    line-height: 268%;
    color: #000000;
    margin-bottom: 0;
}
.foot-first ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 0;
}
.foot-first ul li>a{
    font-weight: 600;
    font-size: 14px;
    line-height: 230%;
    color: #FFFFFF;
    text-decoration: none;
}
.foot-second{
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}
.foot-second a{
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    text-decoration: none;
}
#mail-ru{
    padding-top: 5px;
    text-decoration: underline;
}
.foot-third p{
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
}
.socials{
    padding-right: 10px;
    margin-bottom: 45px;
}
#copyright{
    padding-bottom: 20px;
}
.mob-foot{
    display: none;
}
#adres, #mail-ru, #copyright, #join-us{
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    display: none;
}
@media (max-width:768px){
    .catalog-nav{
        display: none;
    }
    .pagination-wrap{
        display: none;
    }
    .complect{
        display: none;
    }
    #btn4,#btn5{
        display: none;
    }
    .navbar>.container-fluid{
        display: flex;
    }
    .bg-dark,.header-middle{
        display: none;
    }
}
@media (max-width:992px){
    .header-lower{
        display: none;
    }.pagination-wrap>p{
        display: none;
    }
}
@media (max-width:500px){
    #earrings{
        margin-top: 10px;
    }
    
    .sorting-wrap{
        display: block;
        margin-bottom: 6px;
    }
    .footer{
        display: none;
    }
    .mob-foot{
        display: block;
        background-color: #000000;
        padding: 10px;
        margin-top: 50px;
    }
    #adres, #mail-ru, #copyright, #join-us{
        display: block;
    }
}
