.stars{
    display: inline-block;
}
.picture{
    background: url(star.png);
    display: inline-block;
    height: 78px;
    width: 75px;
}
.stars:hover > .picture{
    background: url(orange_star.png);
    height: 78px;
    width: 75px;
    transition: 1.5s;
}
.picture:hover ~ .picture{
    background: url(star.png);
    height: 78px;
    width: 75px;
    
}


    
